@using Meo.Web.ViewModels
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Sales Item";
}

@(Html.Kendo().Grid<SalesItemViewModels>()
        .Name("GridForSalesItem")
        .HtmlAttributes("100%")
        .Columns(columns =>
        {
            columns.Bound(c => c.SalesItemId).Hidden();
            columns.ForeignKey(c => c.ProductId, (System.Collections.IEnumerable)ViewData["Product"], "ProductId", "ProductName").Title("Product");
            columns.Bound(c => c.Quantity);
            columns.ForeignKey(c => c.EmpNo, (System.Collections.IEnumerable)ViewData["Employee"], "EmpNo", "DisplayName").Title("Sales Person");
            columns.Bound(c => c.UnitPrice);
            columns.Bound(c => c.LineDiscAmt);
            columns.Bound(c => c.LineTotal);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width("200px");
        })
        .Sortable()
        .ToolBar(commands => { commands.Create().Text("+ Create New"); })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Delete Confirmation").DisplayDeleteConfirmation("Are you sure to delete this record?"))
        .Pageable(pageable => pageable
        .Refresh(true).Messages(m => m.Refresh(string.Empty)))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("onRequestEnd"))
        .ServerOperation(true)
        .Read(read => read.Action("Read_SalesItem", "Sales", new { id = @ViewBag.SalesId }))
        .Create(update => update.Action("Create_SalesItem", "Sales", new { id = @ViewBag.SalesId }))
        .Update(update => update.Action("Update_SalesItem", "Sales"))
        .Destroy(update => update.Action("Destroy_SalesItem", "Sales"))
        //.Sort(sort =>
        //{
        //    sort.Add(c => c.ModDate);
        //})
        .Model(model =>
        {
            model.Id(e => e.SalesId);
        }))
        .Resizable(resize => resize.Columns(true))
        .NoRecords("No Records Found")
        )

<span id="notification" style="display:none;"></span>

@* Error msg to be shown & sync grid table automatically *@
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function onRequestEnd(e) {
        var notificationWidget = $("#notification").kendoNotification(
            {
                position: {
                    pinned: true,
                    top: 100,
                    right: 50
                },
            }).data("kendoNotification");

        if (e.type == "create" && !e.response.Errors) {
            notificationWidget.show("New Record created!", "success");
        } else if (e.type == "update" && !e.response.Errors) {
            notificationWidget.show("Update Successfully", "success");
        } else if (e.response.Errors) {
            notificationWidget.show("Fail to update", "warning");
        }
    }
</script>