@using Meo.Web.ViewModels
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Back Order History";
}

@(Html.Kendo().Grid<BackOrderVMs>()
        .Name("GridForBackOrder")
        .HtmlAttributes(new { style = "width:100%;" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SalesItemId).Title("Back Order")
            .ClientTemplate("#= CollectButtonTemplate(SalesItemId) #")
            .Width(100);
            //columns.Bound(c => c.SalesItemId).Title("Back Order")
            //.ClientTemplate("<a href='" + @Url.Action("Collect", "Sales", new { salesitemid = "#=SalesItemId#" }) + "' ><span class='k-button k-button-icontext k-grid-edit'>Collect</span></a>").Width(100);
            columns.Bound(c => c.SalesId).Width(130);
            columns.Bound(c => c.CusName).Width(130);
            columns.ForeignKey(c => c.ProductId, (System.Collections.IEnumerable)ViewData["Product"], "ProductId", "ProductName").Title("Product").Width(220);
            columns.Bound(c => c.Quantity).Width(80);
            columns.Bound(c => c.UnitPrice).Width(150);
            columns.Bound(c => c.Remarks).Width(380);
            columns.Bound(c => c.ModDate).Title("Purchase Date").Width(130);
        })
        .Pageable(pageable => pageable
        .Refresh(true).Messages(m => m.Refresh(string.Empty)))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("onRequestEnd"))
        .ServerOperation(true)
        .Read(read => read.Action("Read_BackOrderHistory", "BackOrder", new { searchContent = ViewBag.searchContent }))
        .Sort(sort =>
        {
            sort.Add(c => c.ModDate).Descending();
        })
        .Model(model =>
        {
            model.Id(e => e.SalesItemId);
        }))
        .Resizable(resize => resize.Columns(true))
        .NoRecords("No Records Found"))

@* Error msg to be shown & sync grid table automatically *@
<script type="text/javascript">

    function CollectButtonTemplate(salesitemid) {
        return "<a href='javascript:void(0);' onclick='confirmCollect(\"" + salesitemid + "\")'>" +
            "<span class='k-button k-button-icontext k-grid-edit'>Collect</span></a>";
    }

    function confirmCollect(salesitemid) {
        var confirmation = confirm("Are you sure you want to collect this item?");
        if (confirmation) {
            window.location.href = '/BackOrder/Collect?salesitemid=' + salesitemid;
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function onRequestEnd(e) {
        var notificationWidget = $("#notification").kendoNotification(
            {
                position: {
                    pinned: true,
                    top: 100,
                    right: 50
                },
            }).data("kendoNotification");

        if (e.type == "create" && !e.response.Errors) {
            notificationWidget.show("New Record created!", "success");
        } else if (e.type == "update" && !e.response.Errors) {
            notificationWidget.show("Update Successfully", "success");
        } else if (e.response.Errors) {
            notificationWidget.show("Fail to update", "warning");
        }
    }
</script>