@model Meo.Web.Model.UserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://codeseven.github.com/toastr/toastr.css">
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" />
    <style>
        /*
         * Specific styles of signin component
         */
        /*
         * General styles
         */
        body, html {
            /*background: url('../images/bg.jpg');*/
            height: 100%;
            background-repeat: no-repeat;
            background-color: #f5f5f5;
        }

        .card-container.card {
            max-width: 350px;
            padding: 40px 40px;
        }

        .card-container h1 {
            text-align: center;
            font-size: 1.8em;
        }

        /*
         * Card component
         */
        .card {
            background-color: #ffffff;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 150px;
            /* shadows and rounded borders */
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
            -webkit-box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
            /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);*/
        }

        /*
         * Form styles
         */

        .form-signin #inputUsername,
        .form-signin #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }

        .form-signin input[type=email],
        .form-signin input[type=password],
        .form-signin input[type=text],
        .form-signin button {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin .form-control:focus {
            /*border-color: rgb(104, 145, 162);*/
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        }

        /* remove summary login bullet*/
        .validation-summary-errors ul {
            list-style: none;
            margin-left: -40px
        }
    </style>

</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="card card-container">
                <a class="logo"><img src="~/Images/logo_meo.png" style="padding:10px; width:100%" /></a>
                <hr />
                @*<h1>Forget Your Password?</h1>*@

                <form class="form-signin" runat="server">

                    <div class="row">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "EMAIL" })
                    </div>
                    <br />
                    @*<p style="text-align:center"><font color="grey">Enter your email address below and we'll get you back on track.</font></p>*@

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <button class="btn btn-lg btn-primary btn-block" autocomplete="off" data-loading-text="Loading..." id="btnLogin" type="submit" onclick="return confirm( 'Please check your email to reset your password ');">Send</button>
                    <br />
                    <div class="row" style=" text-align:center">
                        @Html.ActionLink("Back To Log-in", "Login")
                    </div>
                </form>
            </div>
        </div>
    }

</body>
</html>
