@model Meo.Web.ViewModels.CustomerDetailsViewModel

@{
    ViewBag.Title = "Service";
    var ActiveList = ViewBag.ActiveList;
}

<script>
    $(function () {
        $('#search').click(function () {
            var searchContent = $('#SearchContent').val();
            var url = "@Html.Raw(Url.Action("Service", "Setting", new { searchContent = "searchcontent" }))";
            url = url.replace("searchcontent", searchContent.replace(" ", ""));
            $('#saveDiv').load(url);
        });

        $('#clear').click(function () {
            $("#SearchContent").val('').trigger("change");
            var url = "@Html.Raw(Url.Action("Service", "Setting", new { searchContent = "" }))";
            $('#saveDiv').load(url);
        });

        $("#close").click(function () {
            window.open('@Url.Action("Index", "Home")', "_self");
        });
    });

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }
</script>

<div class="page-content">
    <table style="width:100%">
        <tr>
            <td>
                <h2 class="pagetitle">Service Master</h2>
            </td>
            <td align="right">
                @Html.TextBox("SearchContent", "", new { @class = "k-textbox fa fa-search", @style = "width: 350px", @placeholder = HttpUtility.HtmlDecode("&#xf002;") + " Search By Service info" })
            </td>
            <td align="right" style="width:350px">
                <input type="button" value="SEARCH" class="btn btn-primary" id="search" style="width:100px" />
                <input type="button" value="CLEAR" class="btn btn-primary" id="clear" style="width:100px" />
                <input type="button" value="BACK" class="btn btn-default" id="close" style="width:100px" />
            </td>
        </tr>
    </table>

    <hr />
    <div id="saveDiv">
        @{ Html.RenderAction("Service", new { searchContent = "" }); }
    </div>
</div>
