
@{
    ViewBag.Title = "Administrator Settings";
}

<div class="tab-content">
    <table>
        <tr>
            <td>
                <a class="btn btn-primary btn-admin" href="~/Admin/AllAccess#">User Access</a>
            </td>
            <td>
                <a class="btn btn-primary btn-admin" href="~/Admin/AllPage#">Page</a>
            </td>
            <td>
                <a class="btn btn-primary btn-admin" href="~/Admin/AllRole#">Role</a>
            </td>
        </tr>
    </table>
</div>