@using Meo.Web.ViewModels
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Payment Type Master";
}
<div class="page-content">
    <div style="padding-top:5px; padding-bottom:5px">
        <table style="width:100%">
            <tr>
                <td>
                    <h2 class="pagetitle">Payment Type Master</h2>
                </td>
                <td style="float:right">
                    <input type="button" value="BACK" class="btn btn-default" id="close" style="width:100px" />
                </td>
            </tr>
        </table>
    </div>
    @(Html.Kendo().Grid<TypeViewModels>()
        .Name("GridForPaymentType")
        .HtmlAttributes("100%")
        .Columns(columns =>
        {
            columns.Bound(c => c.TypeName);
            columns.Bound(c => c.Remarks);
            //columns.Bound(c => c.InvFormat).Title("Format");
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
        })
        .Sortable()
        .Pageable(pageable => pageable
        .Refresh(true).Messages(m => m.Refresh(string.Empty)))
        .Events(e => e.Edit("onRequest"))
        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("PaymentTypeEditor"))
        .ToolBar(toolbar => toolbar.Template("<a id='Create' class='k-button k-button-icontext k-grid-add' href='#'> + Create New </a>"))
        .Pageable()
        .Resizable(resize => resize.Columns(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("onRequestEnd"))
        .ServerOperation(true)
        .Read(read => read.Action("Read_PaymentType", "Admin"))
        .Create(update => update.Action("Create_PaymentType", "Admin"))
        .Update(update => update.Action("Update_PaymentType", "Admin"))
        .Destroy(update => update.Action("Destroy_PaymentType", "Admin"))
        .Model(modelItem =>
        {
            modelItem.Id(e => e.TypeId);
        })
        ).NoRecords("No Records Found"))
</div>
<span id="notification" style="display:none;"></span>
@* Error msg to be shown & sync grid table automatically *@
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    $("#close").click(function () {
        window.open('@Url.Action("Index", "Home")', "_self");
    });
</script>
<script>
    @* Set window header *@
    function onRequest(e) {
        $(".k-window-title").text("Payment Type Editor");
     $('.k-widget.k-window .k-window-titlebar').css({
         'background-color': 'white'
     });
     $('.k-header').css({
         'border-color': 'white'
     });

     @* Auto Focus on selected field *@
     var arg = e;
     arg.container.data('kendoWindow').bind('activate', function () {
         arg.container.find("input[name='TypeName']").focus();
     })
    }

    function onRequestEnd(e) {
        var notificationWidget = $("#notification").kendoNotification(
            {
                position: {
                    pinned: true,
                    top: 100,
                    right: 50
                },
            }).data("kendoNotification");

        if (e.type == "create" && !e.response.Errors) {
            notificationWidget.show("New Record created!", "success");
        } else if (e.type == "update" && !e.response.Errors) {
            notificationWidget.show("Update Successfully", "success");
        } else if (e.response.Errors) {
        notificationWidget.show("Fail to update", "warning");
    }
    }
</script>

