@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
}
<div style="padding-top:5px">
   
    <table>
        <tr>
            <td colspan="3"><h4>Admin Control</h4></td>
        </tr>
        <tr>
            <td style="padding:10px">
                <a class="btn btn-primary btn-admin" href="~/Admin/AllCounter#" @*target="_blank"*@>Counter Table</a>
            </td>
            <td style="padding:10px">
                <a class="btn btn-primary btn-admin" href="~/Admin/AllPage#" @*target="_blank"*@>Page</a>
            </td>
            <td style="padding:10px">
                <a class="btn btn-primary btn-admin" href="~/Admin/AllRole#" @*target="_blank"*@>Role</a>
            </td>
        </tr>
    </table>
</div>